DRONE_GITHUB=true
{% if lookup('env', 'DRONE_OPEN') %}
DRONE_OPEN={{ drone_open }}
{% else %}
DRONE_OPEN=true
{% endif %}
{% if lookup('env', 'DRONE_ADMIN') %}
DRONE_ADMIN={{ drone_admin }}
{% endif %}
DRONE_AGENT_SECRET=my-$ecret
{% if lookup('env', 'DRONE_GITHUB_URL') %}
DRONE_GITHUB_URL={{ drone_github_config_url }}
DRONE_GITHUB_PRIVATE_MODE=true
{% else %}
DRONE_GITHUB_URL=https://github.com
{% endif %}
DRONE_GITHUB_CLIENT={{ drone_github_client_id }}
DRONE_GITHUB_SECRET={{ drone_github_client_secret }}
