REMOTE_DRIVER=github
REMOTE_CONFIG=https://github.com?client_id={{ lookup('env', ) }}&client_secret={{ drone_github_client_secret }}
DATABASE_DRIVER=sqlite3
DATABASE_CONFIG=/var/lib/drone/drone.sqlite
